/* position_01.css */


body{height: 2500px;}

h1{
  /*width:100%; box-sizing:border-box; height: auto; */padding: 1rem; color:#fff; 
  background-color: #07a; text-align: center;}

.position { margin: auto;
  width: 1200px; width: 75rem;   border:3px solid #555; 
  border:0.1875rem solid #555; margin-top: 32px; 
  margin-top: 2rem;
  position:relative;}

.position > div {float: left; box-sizing:border-box; 
  border:1px solid #777;
  width: 150px; height: 150px; 
  text-align: center; line-height:150px;
  font-weight: bold; font-size: 1.5rem;}

.basic{ background-color:#1af; }

.static{ background-color:#f87; 
  position:static; top:200px; left:-200px; z-index:-100;}

.absolute{ background-color:#3ca; 
  position:absolute; top:0; right:0;}

.relative{ background-color:#fd9; 
  position:relative; top:100px; left:-100px;}

.fixed{ background-color:#5e0; 
  position:fixed; top:100px; right:0;}