/* position_03.css */

#wrap {
  margin: auto; padding: 10px;
  width: 960px; height: 5000px;
  background-color: #0af;
  background-image:linear-gradient(#0af, #fac);
}

.popup_center {
  position: fixed;
  left: 50%; margin-left:-600px;
  top:50%; margin-top:-200px;
  z-index:200;

  width: 1200px; height:400px;
  background-color: #fff;
  border:1px solid #aaa;
  box-shadow:0.2rem 0.2rem 0.2rem rgba(0,0,0,0.7);
}
.popup_center.none {
  display: none;
}


.side_ad {
  position: fixed; top: 0; left: 50%; 
  z-index:100;

  margin-left: 500px;
  width: 150px; height: 400px;
  background-color: #f05;
}