 /* position_05_banner_test.css */

 #bannerWrap{
  overflow: hidden;
  margin: auto;
  position: relative;
  width: 1366px; height: 700px;
  border:1px solid #777;}


/* button */
.btn {position: absolute; top: 50%; left: 0;
      margin-top: -75px; 
      width: 100%; height: 0;}

.btn>button{width: 40px; height: 150px;
  background-color: #fff; float: left;}
.btn>button:last-of-type{float: right;}

/* banner */
.banner {width:400%; height: 100%; background-color: #ccc;
  transition: all 300ms; margin-left: 0;}

.banner > div {width:25%;
  /* width:calc(100% / 4);*/ height: 100%;
    text-align: center; line-height: 700px;
    font-size: 3rem; font-weight: bold;
    float: left;}

.banner_01 {background-color:#7ff;}
.banner_02 {background-color:#8fa;}
.banner_03 {background-color:#9f7;}
.banner_04 {background-color:#10f;}