  /* #footBox =============================================*/
  #footBox{width: 100%; height:auto; background-color: #0f0f0f;}
  .footer_area{margin:auto; box-sizing:border-box; padding:45px 0; 
    width:1200px; height:320px;}