/* form_test_03.css */
  #wrap{padding-top: 3rem; margin: auto; width:15.625rem; height:auto;}
  /* login area */
    #member{box-sizing:border-box; padding:1.5rem 0.9375rem 0.4375rem; 
      width: 15.625rem; height: auto; background-color: #777;}

    form{width: 100%; height: 100%;}
    fieldset{width: 100%; height: 100%;}
    .login{ margin-bottom: 0.625rem; 
      width: 100%; height: 3.125rem;}
    .remember_find{width: 100%; height:auto; color:#fff;}

    #idName{border:0; float: left; margin-bottom: 0.375rem; width:9.625rem; height:1.375rem; }
    #pwName{border:0; float: left; width:9.625rem; height:1.375rem;}
    input[name="ok"]{float: right; margin-top: -1.75rem;
      width: 3.5625rem; height: 3.125rem; background-color: #f06;
      color:#fff;}
  /* 아이디 기억하기 */
  .remember{float: left; font-size: 0.7rem;}
  #rememberId{position: absolute; z-index: -100;}
  label[for="rememberId"]>i{display: none;}
  label[for="rememberId"]>i.fa-square{display: inline;}

  #rememberId:checked +label>i.fa-check-square{display:inline;}
  #rememberId:checked +label>i.fa-square{display:none;}

  .find_member{float: right; font-size: 0.7rem;}
 /* .find_member a:first-of-type{ margin-right: 0.2rem; padding-right: 0.2em; 
                                border-right:0.0625rem solid #777;}*/
  /*.find_member*/
  .find_member>li{float: left;}
/*  .find_member>li:first-child{border-right:0.0625rem solid #0af; 
                              margin-right: 0.2rem; padding-right: 0.2em;
                              height: 0.375rem; margin-top: 0.3rem;}
  .find_member>li:first-child>a{display: block;margin-top: -0.3rem;}*/

  .find_member>li:first-child{margin-right: 0.4rem; position: relative;}
  .find_member>li:first-child::after{content:" "; display: block; 
        position: absolute; top:50%; margin-top: -0.1875rem; right: -0.2rem;
        border-right:0.0625rem solid #f06; width: 0; height: 0.375rem; }
  .find_member>li>a{color:inherit;}
  
  /* show_button area */
    .show_btn{width: 15.625rem; height: 1.25rem; background-color:#ccc}
    .show_btn>button{width: 100%; height: 100%; 
      text-align: right; font-size: 0.875rem; font-weight: bold;}
    .show_btn>button:before{content:"\f0aa"; font-family: "Font Awesome 5 Free"; 
                            color:#f06;}
