/* pantech_layout_01.css */

.wrap{width: 100%; height:100%;}
.area_wrap{width: 100%; height: auto;}

  .head_wrap{position:fixed; top: 0; left: 0; z-index:100; background-color:rgba(100,100,100,0.7);}
  #headBox  {margin:auto; width:75rem; height:3.4375rem; background-color:inherit;}

  .ad_wrap{height: 100%; }
  #adBox       { width: 100%; /*height:878px;*/ height: 100%; background-color: #0af; }
  /** 만약: .wrap영역이 body와 동일하게 처리하지 않을경우,
    * #adBox 의 높이를 브라우저의 높이와 동일하게 처리해야한다면?
    * js를 활용: 
      1. 브라우저의 높이값을 파악(margin,padding값이 존재하는지에 따라 조금 다르다.)
      2. #adBox에 파악된 높이값을 적용
  */
  .info_wrap     {position:absolute; left: 0; bottom: 0;
                  width: 100%; height: auto; background-color:rgba(100,100,100,0.7); }
  #infoBox       {box-sizing:border-box; padding-top:2.5rem; margin:auto; 
                  width:75rem; height:9.375rem; background-color:inherit; }

  .business_wrap {width: 100%; height: 100%; background-color:#4f7;}
  #businessBox   {box-sizing:border-box; padding-top:11.25rem; margin: auto; 
                  width:75rem; height:100%; background-color: #487; }


  .about_side_wrap {width: 100%; height:100%;  background-color: #58f;}
  #aboutBox      {box-sizing:border-box; padding-top:5.9375rem; margin: auto;  
                  width:75rem; height:70%; background-color: #a8f; }
  #sideBox       {margin:auto; width:75rem; height:30%; background-color: #af9; }

  .foot_wrap     {width: 100%; height: auto; border-top:0.0625rem solid #777;}
  #footBox       {margin: auto; box-sizing:border-box;  
                  width:75rem; height:6.875rem; background-color: #dfddfd; }