/*semantic_01.css*/

#wrap {margin: auto; box-sizing: border-box; padding:0.5rem;
  width: 960px; width: 60rem; height:auto; background-color: #f09;}

  /* #headBox ==================================================== */
  #headBox {margin-bottom: 0.5rem; box-sizing:border-box; padding:10px; padding:0.625rem;
    width:100%; height:150px; height:9.375rem; background-color:#0af;}
    h1{width:200px; height: 130px; background-color: #f88;}

  /* #gnb ==================================================== */
  #gnb {width: 100%; height: auto; background-color: #06a; }
  #gnb > h2{width: 0; height: 0; position: relative; z-index: -100;}

  #gnb > ul {width: 100%; height: auto;}
  #gnb > ul > li {margin-right:2.6666%; float: left;
    width:23%; height: 50px; height: 3.125rem; background-color: #fff;}
  #gnb > ul > li > a {display: block; width: 100%; height: 100%;}

    #gnb > ul > li:last-child {margin-right: 0;}
  /* #contentBox ==================================================== */
  #contentBox {margin:0.5rem 0; box-sizing:border-box; padding: 0.5em;
    width:100%; height:auto; background-color: #fff;}
  #contentBox > h2 {width:0; height:0;  position: relative;  z-index: -100; }

    .side_view {box-sizing: border-box; padding:0.5rem;
      float:left; width: 40%; height:580px; height:36.25rem; background-color:#fa0;}

    .side_view > h3{margin-bottom: 1rem;   
      width:100%; height:100px; height:6.25rem; background-color:#9a5;}

    .side_view > ul{width:100%; height:auto; background-color:#ccc;}

    .side_view > ul >li {margin-bottom: 10px; margin-bottom:0.625rem; 
      width: 100%; height: 70px; height:4.375rem; 
      background-color: #fff; 
      border-bottom:10px solid #a60; border-bottom:0.625rem solid #a60;}
    .side_view > ul >li:last-child{margin-bottom:0;}

    /* .content_view ----------------- */
    .content_view {float:right; width: 59%; height:auto; height:auto; background-color:#afa;}
    /* .content_view > h3 {width:0; height:0; overflow:hidden;}*/
    /* .content_view > h3 {width:0; height:0; text-indent:-9999rem; color:#334;}*/
     .content_view > h3 {width:0; height:0; position:relative; z-index:-100;}
    /* .content_view > h3 {width:0; height:0; font-size: 0; }*/

    .content_view > .con{margin-bottom: 6px;
      width: 100%; height: 140px; background-color: #aaf; }
    .content_view > .con:last-of-type {margin-bottom: 0;}

    /* #footBox ==================================================== */
  #footBox {box-sizing: border-box; padding: 10px;
    width:100%; height:120px; height:7.5rem; background-color:#0af;}
  #footBox > h2 {float: left;
    width: 200px; height: 100px; background-color: #a34;}
  #footBox > address {float: right; margin-top:50px;
    width: 70%; height: 50px; background-color: #fff;}