/* footBox.css */

.foot_box_wrap{box-sizing:border-box; padding-top: 70px; width: 100%; height: 400px; background-color: #aaa;}
#footBox{margin: auto;  width:960px; height:150px; background-color: #777;}

