/* ourMonfee.css */

.our_monfee{padding-bottom: 100px; width: 100%; height: auto; min-height:60rem; background-color: #cca;}
  .content_text{margin: auto; padding:140px 70px 120px;
        width: 960px; height: auto; background-color: #ccc;}

  .material_wrap{width: 100%; height: auto; background-color: #a30;}      
  .material_icon{margin: auto; margin-bottom: 140px; width: 960px; height: 196px; background-color: #fa0;}
  #location{margin: auto; width: 960px; height:30rem; background-color: #fff;}

